.footer_block{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    @media (max-width: 640px) {
        display: initial;
    }
    &_left{
        max-width: 390px;
    }
    h3{
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        padding: 10px 0;
    }
    .text{
        font-size: 14px;
        margin: 10px 0;
    }
    &_right{
        display: flex;
        gap: 50px;
        @media (max-width: 380px) {
            display: initial;
        }
        
    }
}
.copyright {
    padding: 10px 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    >span {
        font-weight: 300;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
    }
}