.footer_block{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    @media (max-width: 640px) {
        display: initial;
    }
    &_left{
        max-width: 390px;
    }
    h3{
        font-size: 25px;
        font-family: 'Playfair Display', sans-serif;
        font-weight: 500;
        padding: 10px 0;
    }
    .text{
        font-size: 14px;
        margin: 10px 0;
    }
    &_right{
        display: flex;
        gap: 50px;
        @media (max-width: 380px) {
            display: initial;
        }
        
    }
}