header{
    position: relative;
    >.wrapper {
        @media (max-width: 640px) {
            padding: 10px 25px;
        }
    }
    .menu{
        display: flex;
        padding: 15px;
        .navIcon{
            display: none;
            margin-left: auto;
            z-index: 6;
            @media (max-width: 768px) {
                display: block;
            }
            #nav-icon1 {
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // position: relative;
                margin: 10px auto;
                transform: rotate(0deg);
                transition: .5s ease-in-out;
                cursor: pointer;
            }
            #nav-icon1 span {
                display: block;
                // position: absolute;
                height: 3px;
                width: 100%;
                background: #337AB7;
                border-radius: 9px;
                opacity: 1;
                // left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;
            }
            @media (max-width: 480px){
                display: block;
            }
        }
        ul{
            display: flex;
            justify-content: center;
            width: 100%;
            @media (max-width:768px) {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                transform: translateY(-100%);
                transition: transform 0.5s;
                background-color: #fff;
                box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
                flex-direction: column;
                z-index: 5;                
                padding: 20px 0;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
            li{
                list-style-type: none;
                font-size: 16px;
                font-family: 'Poppins', sans-serif;
                padding: 15px;
                font-weight: 600;
            }
        }
        &.open {
            min-height: 70px;
            ul {
                transform: translateY(0);
            }
            #nav-icon1 {
                position: fixed;
                right: 40px;
                top: 25px;
                span {
                    &:nth-child(1) {
                        transform: rotate(135deg) translate(6px, -7px);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: rotate(-135deg) translate(5px, 6px);
                    }
                }
            }
        }
        
    }
}