header{
    .menu{
        ul{
            display: flex;
            padding-top: 20px;
            li{
                list-style-type: none;
                font-size: 16px;
                font-family: montserrat;
                padding: 15px;
            }
        }
        
    }
}