.section_price{
    &_top{
        &_text{
            
        }
    }
    &_bottom{
        &_item{
            .price{
                font-size: 20px;
                font-family: montserrat;
                color: red;
            }
        }
    }
}