.section_cover_clean{
    width: 100%;
    max-height: 500px;
    display: flex;
    background: url('../img/cleaning.png') center / cover no-repeat;
    &_left{
        h1{
            font-size: 56px;
            font-family: montserrat;
        }
    }
}