.section_content{
    display: flex;
    &_img{
        height: 100%;
        width: 50%;
        display: flex;
        min-height: 400px;
        img{
            object-fit: cover;
            object-position: left;
        }
    }
    .content_text{
        margin-left: 20px;
    }
}
