.section_cover_clean{
    width: 100%;
    min-height: 350px;
    display: flex;
    background: url('../img/cleaning.png') center / cover no-repeat;
    .column{
        flex-direction: row;
        @media(max-width: 625px){
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        }
    }
    &_left{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        h1{
            font-size: 56px;
            font-family: montserrat;
            @media(max-width: 780px){
                font-size: 34px;
            }
        }
        .const{
            font-size: 42px;
            font-family: montserrat;
            font-weight: normal;
            max-width: 530px;
            margin-bottom: 10px;
            @media(max-width: 845px){
                font-size: 32px;
            }
            @media(max-width: 780px){
                font-size: 24px;
            }
        }
        
    }
    &_right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &_form{
            max-width: 340px;
            min-height: auto;
            background-color: #fff;
            border-radius: 20px;
            opacity: 0.8;
            padding: 20px;
            width: 380px;
            .form_name{
                margin-top: 5px;
            }
            .shape{
                border: none;
                border-bottom: 1px solid black;
                padding: 10px;
                font-size: 15px;
                font-family: montserrat;
                display: flex;
                width: 100%;
                margin-bottom: 5px;
            }
            .form_submit{
                background-color: #fff;
                padding: 10px;
                border: 3px solid rgb(197, 35, 35);
                font-size: 16px;
                font-family: montserrat;
                border-radius: 20px;
                margin: 20px 0;
                &:hover{
                    box-shadow: 0 3px 15px rgb(0 0 0 / 40%);
                }
            }
        }
    }
    
}